<h1><%= I18n.t('admin.users.editing_user') %></h1>

<%= render :partial => "form" %>

<%= link_to I18n.t('admin.users.show'), [:admin, @user] %> |
<%= link_to I18n.t('admin.users.back'), admin_users_path %>
