<% if cart_item == @current_item %>
  <tr id="current_item">
<% else%>
  <tr>
<% end%>
<%- 

  logger.info "================="
  logger.info cart_item.inspect
  logger.info cart_item.class
-%>
    <td><%= cart_item.quantity %> &times;</td>
    <td><%= cart_item.title%> </td>
    <td class = "item-price"><%= number_to_currency(cart_item.price) %></td>
  </tr>
